 #youN{
    left: 95px;
    position: absolute;
    color: #203562;
    top: 290px;
    left: 210px;
 }
 #cart{
   left: 100px;
   width: 300px;
   position: relative;
   top: 100px;
   left: 100px;
    

  }